$border-color: #C0C0C0;
$header-text: SlateGrey;
$tweet-text: #244751;
$tweet-primary: White;
$tweet-secondary: #EEE;
$brand-primary: #00A087;
$brand-secondary: #E8FDFF;
$error-primary: #FF0000;
$error-secondary: Orange;
$error-background: Khaki;
