@import "colors";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: $tweet-text;
  background-color: $tweet-secondary;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  width: 450px;
  height: auto;
  margin: auto;
  background-color: $tweet-primary;
  margin-top: 140px;
  padding: 1em;
}

footer .page-footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 50px;
   padding-left: 2em;
   padding-right: 2em;
}

.error-message {
  background-color: $error-background;
  color: $tweet-text;
  border: 1px solid $error-secondary;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}

.error {
  color: $error-primary;
}
