.tweets-container{
  grid-row-start: 2 / 3;
  display: grid;
  grid-row-gap: 10px;
}

article.tweet{
  border-radius: 0.5em;
  border: 2px solid #CDCDCD;

  padding: 0;

  display: grid;
  grid-template-rows: 1fr 5em 3em;

  opacity: 0.70;
}

article.tweet header{
  display: grid;
  grid-template-columns: 10px 1fr 5fr 1fr 10px;
  grid-template-rows: 10px 1fr 1fr 10px;

  background: #EEEEEE;
  border-radius: 0.5em 0.5em 0 0;
}

header > img{
  grid-column: 2 / 3;
  margin: 0;
  grid-row: 2 / span 2;
  align-self: center;
}

header > h2{
  grid-column: 3 / 4;
  grid-row: 2 / span 1;
  align-self: start;

  margin: 0;
  padding-left: 5px;
}

article.tweet header > p {
  grid-column: 4 / 5;
  margin: 0;
  padding-right: 5px;
  grid-row: 2 / span 1;
  align-self: start;
}

article.tweet footer{
  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: min-content 10px;
  display: grid;
  border-top: 2px solid #CDCDCD;
}

article.tweet footer > p {
  grid-column: 2;
  grid-row: 1;

}

article.tweet > p {
  padding: 10px;
}

article.tweet .icons{
  visibility: hidden;

  justify-self: end;
  align-self: center;
  grid-column: 3;
  grid-row: 1;
}

article.tweet footer > i {
  padding: 10px;
}

article.tweet:hover{
  opacity: 1;
}

article.tweet:hover .icons{
  visibility: visible;
}



