    article.w3-container {
      border: 1px solid silver;
      border-radius: 10px 10px 0 0;
      margin-bottom: 10px;

    }

    article .tweetBanner {
      border-bottom: 1px solid silver;
      background-color: lightgrey;
      /*overflow: hidden;*/
      border-radius: 10px 10px 0 0;

    }

    article .logo {
      width: 80px;
      height: 80px;
      float: left;
      border-radius: 10px;

    }

    article .tweetHeader {
      float: left;

    }

    article p.tweetHandle {
      float: right;
      margin-right: 5px;
    }

    article .tweetFoot {
        border-top: 1px solid black;
        padding: 5px;

    }

    article .tweetFoot p {
        float: left;
        margin: 0;
    }

    article .icons {
        float: right;

    }

    article .content {
        padding: 5px;
    }