article  {
margin-left: 2em;
margin-right: 2em;
border: 1px solid #adabab99;
border-radius: 5px;
opacity: 50%;
}


article:hover header{
  opacity: 100%;
  background-color: red;
}

article header {
  border-radius: 5px 5px 0px 0px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article footer {
  border-radius: 5px;
  border-radius: 0px 0px 5px 5px;
  border-color: black;
  border-top: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article h2 {
  padding-right: 185px;
}

article .content {
  margin-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: .5em;
  border-bottom: 1px solid #eeeeee;
}


article p .handle {
  justify-content: right;
  margin-bottom: 15px;
  padding-left: 1em;
}

article img {
  padding: 3px;
  height: 60px;
  width: 60px;
  border-radius: 15px;
}