
.containerTweet header {

  height: 60px;
  background-color : #D1DDE0;
  font-size: 25px;
  border-bottom: 2px groove;
}

.tweet-body{

  width: 382px;
  height: 60px;
  border-radius: 0px;
  background-color: white;

}

.containerTweet footer{


  border-top: 2px groove;
  background-color : white;
  height: 20px;


}

.icon {
  display: none;
  float: right;

}

.timeago {
  float: left;
}

.tweetImg{

  padding-top: 10px;
  padding-bottom: 25px;
  height: 60px;
  margin-right: 10px;
  background-color: #D1DDE0;
  float: left;

}

.tweetImg img {

  height: 45px;
  width: 60px;
  margin-left: 10px;

}

.name{


  padding-top: 10px;
  font-size: 25px;


}
.hashName{

  padding-top: 10px;
  padding-right: 10px;
  float: right;
  font-size: 20px;
}
.containerTweet {

  margin-top: 15px;

}

.containerTweet i{

  padding-left:10px;
}

article{
  border: 2px groove;
  margin-top: 30px;
  opacity: 0.65;
}

article:hover .icon {
   display: inline;
}

article.tweet:hover {
  opacity: 1.0;
}
