#tweets-container > .tweet{
  border: 1px solid grey;
  border-radius: 5px;
  margin: 2em;
  margin-bottom: 0;
}

#tweets-container .tweet > header {
  background-color: #f3f3f3;
  border-radius: 5px;
  color: #6a7d84;
  display: flex;
  height: 76px;
  justify-content: space-between;
}

#tweets-container .tweet:hover > header {
  background-color: #eee;
  color: #2b4751;
}


#tweets-container .tweet > article {
  background-color: white;
  height: 120px;
  padding-left: 15px;
  padding-top: 10%;
  /*percetnage based alignement based on height calc or padding and overflow*/
}

#tweets-container .tweet header .userlogo {
  align-self: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 58px;
  margin-left: 9px;
  opacity: 0.6;
  width: 58px;

}

#tweets-container .tweet:hover header img {
  opacity: 1;
}



#tweets-container .tweet h3 {
  font-size: 180%;
  margin: 0px;
  padding-left: 2%;
  padding-top: 2%;
  width: 80%;
}

#tweets-container .tweet .shortUsername {
  padding-right: 2%;
  padding-top: 3%;
}

#tweets-container .tweet > footer {
  background-color: white;
  border-top: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  line-height: 50px;
  padding-left: 15px;
}

#tweets-container .tweet #createdTime{
  width: 75%;
}

#tweets-container .tweet footer i {
  align-self: center;
  color: #00a087;
  margin-left: 10px;
  visibility: hidden;
}

#tweets-container .tweet:hover footer i {
  visibility: visible;
}
