
/* Entire Container Article */
.feed-article {
  width: 100% !important;  
  min-width: inherit !important;
  margin: 1.5em 0 !important;
  padding: 1.5em !important;
  height: 390px;
  border-radius: 1.5em;
  border-style: solid;
  box-shadow: 5px 5px grey;
  font-family: "Source Sans Pro";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feed-article:hover {
  transition: box-shadow 500ms;
  box-shadow: 15px 15px grey;
}
/* Top Section of Feed: Header */
.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.feed-header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-header-user img {
  max-width: 20%;
  height: auto;
  margin: 0.5em;
}

.feed-header-user p {
  opacity: 85%;
  font-size: 1.5em;
}

/* Mid Section of Feed: Body */
.feed-body {
  padding: 0.2em;
  font-size: 150%;
  border: mediumblue;
}


/* Bottom Section of Feed: Footer */
.feed-footer {
  border-top-style: solid;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-footer-icons {
  width: 127px !important;
  display: flex;
  justify-content: space-evenly;
  min-width: 10%;
}
.feed-icon:hover{
  color: blue;
}


/* General */
.bold {
  font-weight: 600;
}
  
  