.main-header {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8d4f8f;
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  height: 400px;
  justify-content: center;
}

.main-display-name {
  color: white;
}

.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 300;
}


 /* Desktop styles */
 @media only screen and (min-width: 1024px) {
  .main-header {
    width: 30%;
    align-self: flex-start;
    margin-top: 220px;
    margin-left: 3em;
  }
}