.main-header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A18B40;
  background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
  margin-top: 120px;
} 

.name {
  font-size: 36px;
}

.icon {
  padding-top: 15%;
}

/* Laptops / Desktops */
@media only screen and (min-width: 1024px) {
  .main-header {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-left: 2em;
    margin-right: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
  }
}