header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  /* position: absolute; */
  /* z-index: 0; */
}

