

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: #EAEAEA;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
}


.container {
  position: initial;
  width: 450px;
  height: 100%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  color: #37543c;
  padding-right: 10px;
  padding-bottom: 100%;
  padding-top: 140px;
  padding-left: 20px;
}


