

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: #EAEAEA;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif;
}


.container {
  /*position: initial;*/
  width: 450px;
  /*height: 100%;*/
  background-color: #ffffff;
  margin: 0 auto;
  color: #37543c;
  padding: 125px 10px  100%  20px;

}



.clearfix:after {
  display: table;
  content: "";
  clear: both;
}
