html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

main.container {
    margin: auto;
    padding-top: 50px;
    width: 450px;
    background-color: white;
}


