#nav-bar{
    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    line-height: 80px;
    padding: 0 2em;
    font-size: 2em;
    color: #e8fdff;
    background: #00a087;
}
#nav-bar .logo {
    float: left;
}
#nav-bar .header {
    float: left;
    margin: 0px 0px 0px 10px
}
#nav-bar .compose {
    opacity: .9;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background: white;
    float: right;
    margin: 10px;
    font-size: .5em;
    line-height: 3.4;
    padding: 0 1.5em;
    border: unset;
    border: solid 1px;
}
#nav-bar .compose:hover {
    opacity: 1
}

#nav-bar .compose:click {
    
}