 
 #nav-bar {
     background-color: #00a087;
     color: #e8fdff;
     height: 80px;
     padding: 0 2em;
     position: fixed;
     width: 100%;
     
 }
#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}
#nav-bar .header{
    float: left;
    font-size: 2em;
    line-height: 80px;
    padding-left: 10px;
}