nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
 }

.logo {
  font-family: 'Bungee', cursive;
 }

 .fa {
  font-size: 48px;
  color: red
 }

 .write-a-tweet {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 #pointer {
   border: none;
   background: transparent;
   padding-right: 1em;
   padding-left: 1em;
 }

 #pointer:hover {
   padding-top: .5em;
 }

 #pointer:focus {
   outline: 0;
 }

 .hide-form {
   display: none;
   padding: 0;
   margin: 0;
 }

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  nav {
    background-color: #A18B40;
  }
}