#nav-bar {
  position: fixed;
  top: 0;
  overflow: hidden;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 1
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
font-size: 2em;
line-height: 2.5em;
float: left;
}

#nav-bar button {
  float: right;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 8em;
  height: 3em;
  background-color: #e7fdff;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
}

#nav-bar button:hover {
  background-color: white;
  cursor: pointer;
}
