#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2em;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}
