#nav-bar{
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .right {
  float: right;
  padding-top: 10px;
}

#nav-bar .left .logo{
  height: 80px;
  width: 80px;
  line-height: 250%;
  float: left;
}

#nav-bar .left .header{
  font-size: 2em;
  float: left;
  padding-left: 10px;
  line-height: 250%;
}

#nav-bar .button {
  font-size: 20px;
  color: #00a087;
  background-color: #deefed;
  border: 1.25px solid #000000;
  padding-bottom: 2px;
  border-radius: 10px;
  height: 60px;
  outline: none;
}

#nav-bar .button:hover {
  color: #000000;
  background-color: #ffffff;
}

