html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}


/*
 * Global layout stuff
 */



  #nav-bar span.header {
    padding-top: 0em;
    padding-right: 10px;
    padding-bottom: 2em;
    padding-left: 10px;
    line-height: 2;
    font-size: 2em;
    position: relative;
    bottom: 30px; left: 0px;


  }


img.logo {
    width: 80px;
    height: 80px;
}

nav#nav-bar {
    padding-top: 0em;
    padding-right: 2em;
    padding-bottom: 0px;
    padding-left: 2em;
    height: 80px;
    background-color: #00a087;
    color: #e8fdff;
    /*position: fixed;*/

  }

  .header-button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border: solid;
    background-color: #e8fdff;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    float: right;
    position: relative;
    top: 13px; right: 0px;



  }

.header-button:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: black;
  color: white;




}

