.new-tweet {
    padding-top: 5px;
    padding-bottom: 15px;
}

#textarea  {
  border: groove;
  width: -webkit-fill-available;
}

#tweetButton {
  position: static;
  float: left;
}

.counter {
  float: right;
  color: black;
}


.boxingContent {
    width: 418px;
    height: 180px;
    border: 1px solid #cacace;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #e5e5e6;
    border-radius: 10px;
}

/*h2 {
  width: 300px;
  height: 10px;
}*/