

.container {
  background-color: white;
  width: 650px;
  height: max;
  padding-top: 100px;

}
.new-tweet hr {
  border-color: black;
}

div.tweet {
  height: 200px
}

.new-tweet h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

form {
  margin-top: 12px;
}

.new-tweet textarea {
  margin-right: 0;
  padding: 8px;
  width: 400px;
  height: 140px;
  margin-bottom: 10px
}

.new-tweet span.counter{
  float:right;
}

.wrongText{
  color: red;
}

.new-tweet {
  margin top: 100px;
  margin-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #eee;
  height: 250px;
  border-style: solid;
  border-color: gray;
  border-radius: 1px;
  padding: 15px;
  width: 450px
}


span.counter {
  margin-right: 10px;
  margin-top: 10px;
}