.new-tweet, .all-tweets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding-top: 5%;
  padding-bottom: 4%;
  overflow-wrap: break-word;
}

.submit-tweet button {
  font-family: 'Bungee', cursive;
  background-color: #4056A1;
  color: #ffffff;
}

#tweet-text {
  width: 100%;
}

.submit-tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-tweets header, .all-tweets footer {
  display: flex;
  justify-content: space-between;
}

.all-tweets article{
  border: 5px solid black;
  padding: 2%;
  margin-bottom: 2%;
}

.all-tweets footer p {
  font-size: medium;
}

.tweet-user {
  display: flex;
  justify-content: flex-start;
}

.tweet-user img {
  width: 26px;
  height: 26px;
  align-self: center;
}

i {
  color: #4056A1;
}

.fa-exclamation{
  color: red;
}

.error {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 5px solid red;
  color: red;
  display: none;
}

.username {
  display: none;
}

.all-tweets article:hover {
  box-shadow: 5px 10px rgba(64, 86, 161, .7);
}

.all-tweets article:hover .username{
  display: block;
  color: #4056A1;
  opacity: 70%;
}

textarea {
  background-color: transparent;
  border: none;
}

.overCharLimit {
  color: red;
}

.name {
  color: #f4f1ec;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Laptops/Desktops */
@media only screen and (min-width: 1024px) {
  .new-tweet {
    padding-top: 130px;
  }
}