.new-tweet {
  display: flex;
  justify-content: center;

}

.new-tweet label {
  margin: 10px; 
}
.counter {  
  justify-content: flex-end;
  font-family: Bungee;
}
.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet #error-short {
  color: red;
  border: solid 3px red;
  padding: 10px;
  display: none;
  text-align: center;
}

#error-over {
  color: red;
  border: solid 3px red;
  padding: 10px;
  display: none;
  text-align: center;
}


.new-tweet textarea {
  display: flex;
  border-top: none;
  border-bottom: 5px solid black;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  background-color: transparent;
}
.new-tweet button {
  background-color: #4056A1;
  font-family: Bungee, sans-serif;
  color: #FFFFFF
}

.short {
  color:  red;
}