.new-tweet {
  background-color: #eee;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 5px;
}

.new-tweet h2 {
  margin-top: 10px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 1px solid #000000;
}

.new-tweet form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
}

.new-tweet textarea {
  outline: none;
  border: 1px solid #000000;
}

.new-tweet .button {
  float: right;
  margin-top: 5px;
  color: #00a087;
  background-color: #deefed;
  border: 1.25px solid #000000;
  padding-bottom: 2px;
  border-radius: 5px;
  height: 30px;
  outline: none;
}

.new-tweet .button:hover {
  color: #000000;
  background-color: #ffffff;
}



.new-tweet .counter {
  float: left;
  margin-top: 5px;
}

.new-tweet textarea {
  flex-basis: 100%;
  padding: 3px;
}