.new-tweet {
  margin: 2em;
  padding: 1em;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  background-color: #eee;
}

.new-tweet > h2{
  border-bottom: 1px solid #000;
  margin: 0em;
  padding: 0em;
}
.new-tweet > form > textarea {
  width: 100%;
  margin-top: 1em;
  padding: 10px 10px;
}
.counter{
  float: right;
}