.new-tweet {
  background-color: #eee;
  padding: 0em 1em;
  color: #334853;
  margin: 2em;
  border: .1em solid #c3c3c3;
  border-radius: 5px;
}

.new-tweet textarea {
  display: block;
  margin: auto;
  width: 100%;
}

.new-tweet input {
  margin: 6px 0px;
}

.counter {
  float: right;
  margin: .8em 0px;
  font-size: .8em;
  font-style: italic;
}

.new-tweet h2 {
  float: left;
  width: 90%;
  border-bottom: 1px solid #c3c3c3;
}

article.tweet {
  width: 86%;
  margin: auto auto 1em auto;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  font-size: 1rem;
  /*word-break: break-all;*/
}

header.tweet-header {
  background-color: #f3f3f3;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  width: 100%;
  height: 6em;
  padding: 1em;
  color: #6d7d84;
}

span.handle {
  margin-left: 8em;
  font-size: .8em;
}

.tweet-body {
  width: 100%;
  padding: .5em;
  font-size: 1.5rem;
  color: #334853;
  word-break: break-all;
}

.tweet-footer {
  font-weight: 300;
  border-top: 1px solid #eeeeee;
  padding: 0em .7em 0em .7em;
 }

#avatar {
  /*display: inline;*/
  width:  4em;
  height: 4em;
  margin-right: .5em;
}

.tweet:hover {
  border-color: #4e4e4e;
}

.tweet-header:hover {
  background-color: #ededed;
  color: #334751;
}