.compose-tweet{
    box-sizing: border-box;
    border-bottom: solid 1px #244751;   
    text-align: left;
    width: 100%;
    -webkit-margin-before: .15em;
    -webkit-margin-after: .5em;  
}

.form-layout{
    padding: 4px;

}
.new-tweet{
    background-color: gainsboro;
    border: 1px solid silver;
    border-radius: 5px;
    margin: 2em;
    margin-top: 3em;
    padding: 5px;
}
.text-box{
    background-color: white;  
    width: 100%;
}
.tweet-controls {
    display: flex;
    justify-content: space-between;
}

.tweet-button{
   flex-grow: 0;
}
.tweet-button:hover{
    border-color: dimgray;
}
.counter{
    flex-grow: 0.05;
}
