.new-tweet {
margin-left: 2em;
margin-right: 2em;
background-color: #eeeeee;
border: 1px solid #adabab99;
border-radius: 5px;
padding-bottom: .5em;
padding-right: 1em;
padding-left: 1em;
}


.new-tweet h2  {
  border-bottom: 1.1px solid;
  color: #234651;
}

.new-tweet form {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.new-tweet textarea {
  flex-basis: 100%;
  border: 1px solid ;
  padding: 5px;
  margin-bottom: 5px;
}


.redCounter {
  color: red;
}