.tweet-section {
  height: 2000px;
  padding: 10px;
}

.new-tweet {
  margin: 80px 2em;
  background-color: #eee;
  border-radius: 5px;
  padding: 0 10px 10px;
  border: solid #ccc 1px;
}

.counter {
  float: right;
  padding: 5px;
}

/*Used as an addClass with the character counter*/
.maximumChar {
  color: red;
}

.new-tweet textarea {
  width: 345px;
  height: 60px;
  padding: 5px;

}

.new-tweet form {
  margin: auto;
  height: 90px;
}

.new-tweet h2 {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

#display-tweets {
  margin: 80px 2em;
  /*border-radius: 5px;*/
  /*border: solid #ccc 1px;*/
}

#display-tweets .header {
  height: 65px;
  padding: 5px;
  margin-right: 0px;
  background-color: #f6f6f6;
  border-radius: 5px;
}

#display-tweets header span {
  padding: 5px;
}

#display-tweets .full-name {
  font-weight: 700;
  font-size: 20px;
  color: #999;
  float: left;
}

#tweet-container:hover .full-name { color: #219fa5; }
#tweet-container:hover .at-name { color: #2F4F4F; }
#tweet-container:hover .header { background-color: #eee; }

#tweet-container:hover .icons { color: #219fa5; }
#tweet-container:hover .mini-icons { opacity: 1; }
/*display none
oppacity 0
height 0*/

#display-tweets .at-name {
  float: right;
  font-size: 12px;
  color: #999;
}

#display-tweets article {
  background-color: white;
  padding: 10px;
  height: 70px;
}

#display-tweets footer {
  background-color: white;
  padding:10px 10px;
  height: 30px;
  border-top: solid #ccc 1px;
  font-size: 10px;
  border-radius: 0 0 5px 5px;
}

#display-tweets img {
  border-radius: 5px;
  float: left;
}

#display-tweets .icons {
  float: right;
}

#display-tweets .mini-icons {
  padding-right: 5px;
  opacity: 0.1;
}

#display-tweets #tweet-container {
  margin: 10px;
  border: solid #ccc 1px;
  border-radius: 5px;
}
