.new-tweet {
  display:none;

  & header {
    background-color: inherit;
    background-image: unset;
    height: 100px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .exitTweet {
      margin-right: 1.5em;
      font-size: 1em;
      opacity: 0.5;
      line-height: unset;
    }
  }

  form {
    width: 100%;

    textarea {
      border: none;
      background-color: inherit;
      border-bottom: 3px solid black;
      outline: none;
      width: 100%;
    }
  }
}







form div {
  display: flex;
  justify-content: space-between;
}

form div button {
  background-color: #4056A1;
  border-image: none;
  border: none;
  font-family: "bungee";
  color: #FFFFFF;
  padding: 0.2em;
}
form div output {
  font-family: "bungee";
}

.lower-bar > div {
  dispay: flex;
  justify-content: flex-end
}

.counter-red {
  color: red;
}

#charactersExceeded {
  margin-right: 1em;
  color: red;
  
}
.error {
  display: none;
  margin-top: 0.5em;
  width: 100%;
  height: 75px;
  line-height: 60px;
  text-align: center;
  border: 4px solid red;
  padding: 5px;
}
.error span {
  margin: 0em 1em;
}
.hidden {
  display: none;
}

.backgroundError {
  background-color: #ffcccb;
}
