.counter {
  float:right;
  padding-right: 10px;
  padding-top:5px;
}

section .newtweet{
  width:350px;
}

.new-tweet {
  width:400px;
  margin:20px 25px 20px 25px;
  background-color: #69CF81;
  padding-left:20px;
  border-radius: 10px;
  height:160px;
  display: none; 
}

.new-tweet h2 {
   border-bottom:1px solid;
   width:350px;
   padding-bottom: 5px;
   padding-top:5px;
}

textarea {
  overflow: auto;
  padding-top: 10px;
  width:350px;
  margin: 50;
  border-radius: 10px;
}

/* =====================
    Tweeter Cards
=======================*/

article.tweet {
  width: 95%;
  border: 1px solid #969696;
  border-radius: 5px;
  margin: 0 auto 1em;
}

article.tweet header {
  display: flex;
  background-color: #f3f3f3;
  padding: 0.5em 0.8em;
}

article.tweet > header > img {
  height: 50px;
  width: 50px;
}

article.tweet > header > p {
   margin: 0.4em 0 0 auto;
   font-size: 0.9em;
}

article.tweet > header > h2 {
   margin: 0 0.5em;
}

article.tweet .tweet-body {
  padding: 0 0.6em;
}

article.tweet footer {
  display: flex;
  border-top: 1px solid #f0f0f0;
  font-size: 0.7em;
  padding: 0 0.7em;
}

article.tweet footer div.footer-icons {
  margin: 0.7em 0 0 auto;
}

article.tweet footer div.footer-icons img {
  height: 20px;
  opacity: 0.5;
}


article.tweet:hover {
  box-shadow: 2px 2px 5px 2px #848080;
}

article.tweet:hover header {
  background-color: #eeeeee;
}

article.tweet:hover footer div.footer-icons img {
  opacity: 0.8;
}

.new-tweet .error-msg {
  font-size: 0.9em;
  line-height: 0.9em;
  margin-left: 0.5em;
}

span.counter {
  float: right;
  line-height: 1.5em;
}


