button, input, select, textarea {
    font: inherit;
    margin: 0;
    position: relative;
    bottom: 10px; left: 0px; width: 100%;
}


input, button, select {
    position: relative;
    bottom: 10px; left: 0px; width: 20%;

}

h2 {
  border-bottom: solid;
}

span.counter {
    float: right;
}

u {
    position: relative;
    bottom: 0px; left: 20px; width: 0%;

}

section.new-tweet {
    width: 385px;
    border: thick double #32a1ce;
    border-radius: 30px;

    padding-top: 0em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-left: 2em;

    background-clip: padding-box;

    margin-top: 0px;
    margin-right: 2em;
    margin-bottom: 50px;
    margin-left: 2em;

    position: relative;
    top: 5px; bottom: 5px;

    float: centre;
}

.tweet-logo {
    width: 80px;
    height: 80px;
  }

.alert {
    padding: 0px;
    padding-left: 45px;
    padding-bottom: 30px;
    background-color: #f44336;
    color: white;
    margin-bottom: 10px;
    text-align: middle;
}