#tweets-container{
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

article.tweet {
  display: flex;
  flex-direction: column;
  border: 4px solid #242424;
  padding: 0.5em;
  margin: 10px 0px;
  padding-bottom: 2px;
}

.nameTag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: break-word;
  flex-grow: 1;

}

.nameTag > * {
  display: flex;
 margin: 0px;
}

.inName{
  margin-left: 5px;
  flex-grow: 1;
}

article.tweet > .art{
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  border-bottom: 2px solid #5f5c53;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 1em;
  margin-bottom: 10px;

  font-weight: 600;
  color: #2a5858;
  max-width: 23em;
}

.info{
  display: flex;
  flex-grow: 0.5;
  flex-direction: row;
  justify-content: space-between;
  font-size: 50%;
  align-items: center;
  padding: 2px;
}

.ating{
  opacity: 50%;
}
.ating:hover{
  opacity: 100%;
}

article.tweet:hover {
  opacity: 1;
  padding-bottom: 2px;
  text-shadow: 0.1px 0.1px #5f5c53;
  box-shadow: 7px 7px #99a9e0;
}
.info> p > *{
  padding: 2px;
}
.info> p > *:hover{
  color: rgb(202, 202, 202);
}