/*
 * class to turn display off 
 */
.no-show-status {
  display: none;
}

#toggleTop {
  position: fixed;
  bottom: 2vw;
  right: -0.5vw;
  z-index: 9999;
  font-size: 1.5vw;
  border: none;
  outline: none;
  background-color: transparent;
  color: #4056A1;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* mobile styles */
/* change colour to header bar when switched to single column view */
@media only screen and (max-width: 759px) {
  #toggleTop {
    font-size: 3vw;
  }
}