.tweetposts {
    display: grid;
    grid-template-rows:min-content 1fr min-content;
    background: white;
    border-radius: 10px;
    border : solid rgba(238, 234, 234, 0.753) 1px;
    opacity: 0.95;
    
}

.tweetposts-userinfo{
    display:grid;
    grid-template-columns: min-content 1fr 1fr;
    padding:10px;
    border-radius: 10px;
    background-color: #eee;
    

}
tweetposts-userinfo-img {
    display:grid;
    padding: 15px;

}

.tweetposts-userinfo-username{
    display:grid;
     font-size: 1.6em; 
    margin-left: 10px;
    margin-top: 20px;
    
    align-self: top;
    justify-content: top;
}

.tweetposts-userinfo-tweetname{
    display:grid;
    margin-right: 20px;
    justify-self:right;
    align-self:top;
    
    margin-top:20px;
    
}
.tweetposts-postmessage{
    display:grid;
    width: 100%;
    justify-self: left;
    /* font-size: 1.5em; */
    margin: 60px 20px;

}
.tweetposts-timeline {
    display:flex;
    border-top : 1px solid lightgray;
    
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.tweetposts-timeline-hover{
    display: flex;
    /* justify-self: center; */
    align-self: top;
    visibility:hidden;

}

.fas{
    margin-right : 10px;
    
}

.fas.fa-edit
{
    display: inline-block;
    padding-left: 10px;

}
.tweetposts:hover .tweetposts-timeline-hover {
    visibility : visible;
} 

.tweetposts:hover  {
    border-color: black;

}

.tweetposts-timeline-activity{
    display: grid;
    /* font-family: Arial, Helvetica, sans-serif; */
    /*! -left: 10px; */
    /*! margin-top: 30px; */

}