.all-tweets {
  background-color: white;
  border-radius: 5px;
  border-color: lightgray;
  margin-left: 30px;
  margin-right:30px;
  margin:30px;
}

.tweet {
  margin-top:20px;
  margin-bottom: 20px;
   border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  margin-left:30px;
  margin-right:30px;
}

section:hover.tweet{
  opacity: .5;
}

.profile-pic {
  float:left;
  padding: 10px;
  border-radius: 20px;

}

header {
  background-color: #eee;
  height: 70px;
}

h3 {
  border-top:30px;
  right: 150px;
  display:inline;
}

header p {
  display: inline;
  padding-left:20px;
}

article {
  padding:20px;
  word-wrap: break-word;

}

footer {
  border-style:ridge;
  border-radius: 10px;
}

.clock {
  margin:0px;
  width: 25%;

}

.icons {
  margin:0px;
  float:right;
  position: relative;
  bottom:26px;
  right:2px
}

