#tweets {
  background-color: #FFF;
  padding: 0px;
}

.tweet:hover .icons {
  display: flex;
}

.tweet header {
  color: #C0C0C0;
  background-color: #EEE;
  overflow: auto;
  height: 80px;
  color: SlateGrey;
}

.tweet {
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  margin: 10px;
}

.tweet .avatar {
  margin: 8px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left
}

.tweet .user-name {
  margin: 10px;
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.tweet .handle {
  margin: 10px;
  margin-top: 20px;
  float: right;
}

.tweet .tweet-content {
  border-bottom: 1px solid #C0C0C0;
  padding: 15px;
}

.tweet-footer {
  font-size: 0.8em;
  overflow: auto;
  margin-bottom: 10px;
}

.tweet-footer p {
  float: left;
  margin: 10px;
}

.tweet-footer .icons {
  margin: 6px;
  float: right;
  display: none;
}

.tweet-footer .fa {
  padding: 5px;
  color: teal;
}
