
/* ------ TWEET POSTING ------ */
/* TOP OF POST */
header {
  background-color: #E9E9E9;
  color: #6c8884;
  padding-bottom: 75px;
  padding-top: 4px;
  padding-left: 4px;
  opacity: 0.7;
  border-radius: 5px 5px 0 0;

}

/* FOOTER */
.feets {
  border-top: 1px solid #E9E9E9;
  padding: 5px;
  padding-left: 8px;
  font-size: 14px;
  color: #506764;
}

/* PROFILE PHOTO */
.profile {
  border-radius: 8px;
  height: 60px;
  width: 60px;
  float: left;
  margin: 5px;
  opacity: .7%;
}

/* @NAME */
.handler {
  float: right;
  margin: 16px;
}

/* TOP NAME BIT */
h3 {
  margin: 0px;
  padding: 6px;
  padding-top: 10px;
  float: left;
  font-size: 28px;
  color: #244751;
}

/* TEXT OF TWEET */
.tweetBody {
  margin-left: 8px;
  color: #506764;
  font-size: 23px;
}

.tweeter:hover header{
  opacity: 1.0;
}

.tweeter:hover {
  border-color: #244751;
}

#alert-message {
  color: #ca2727;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 15px;
}

#compose-button {
  float: right;
  opacity: 0.8;
  border-radius: 5px;
  background-color: white;
  margin-top: 12px;
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  color: #00a087;
}


#compose-button:hover {
  float: right;
  opacity: 1;
  border-radius: 5px;
  background-color: white;
  margin-top: 12px;
  font-size: 21px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  color: #212b2a;

}

