#tweet-container {
 margin top: 100px;
  margin-bottom: 90px;
  margin: 30px;
  background-color: white;
  margin: 2em;

  padding: 15px*/
}



div.footer{
  padding: 2px 5px;
}

div.floatRight {
  display: flex;
  justify-content: flex-end;
  float: right;
}

/*span.fas fa-flag {
  float: right;
}
span.fas fa-retweet {
  float: right;
}
span.fas fa-thumbs-up {
  float: right;
}*/

article.tweet:hover{
  border-color: black;
  border-width: 5px;
  opacity: 1;
}

article.tweet:hover .tweethover{
  border-color: black;
  border-width: 5px;
  opacity: 1;
}

article.tweet{
  /*padding: 15px;*/
  border-style: solid;
  border-color: gray;
  border-radius: 6px;
  margin: 15px 0;
}

textarea.tweet-text{
  margin: 0;
}

header.tweet {
  height: 80px;
  background-color: #eee;
  padding: 3px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  opacity: 0.5;
}

header.tweet h1 {
    font-size: 1em;
    margin: 0.67em 0;
    margin-top: 0;
  }

header.tweet img {
  height: 75px;
  widows: 75px;
  float: left;
  margin: auto;
  padding: 5px;
}

header.tweet span{
    height: 80px;
    float: right;
    font-size: 1em;
}

div.tweet{
  display: flex;
  align-items: center;
  margin: 8px 8px;
  height: 160px;

}



footer.tweet {
  margin: 8px 8px;

}
/*  margin: auto;
  height: 300px;
  width: 300px;
  background-color: pink;*/




