/*
 * Global layout stuff
 */

.tweet {
  position: relative;
  border-style: solid solid solid solid;
  border-width: medium;
  position: relative;
  top: 50px;
  margin: 20px auto 20px auto;
}

.tweet:hover {
  box-shadow: 5px 5px 2px 2px #4056A1;
}

.tweet:hover > header h6 {
  display: inline-block;
}

.tweet:hover > footer img {
  display: inline-block;
}

.tweet header {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  height: auto;
  position: relative;
  top: 0;
  overflow: auto;
}

.tweet header img {
  position: relative;
  margin: 1% 1% 1% 1%;
  top: 2vw;
  left: 2vw;
}

.tweet header div {
  position: relative;
  height: auto;
  text-align: left;
  margin: 1% 1% 1% 1%;
  display: inline-block;
  top:  -2vw;
  left: 2vw;
}

.tweet header h6 {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  height: auto;
  display: none;
  float: right;
  margin: 1% 1% 1% 1%;
}

.tweet h5 {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  position: relative;
  border-style: hidden hidden solid hidden;
  border-width: medium;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.tweet h5 p {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  position: initial;  border-style: hidden hidden solid hidden;
  border-style: hidden hidden hidden hidden;
}


.tweet footer {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  position: relative;
  display: block;
  width: 95%;
  margin: 0 auto 0 auto;
}

.tweet footer div {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  width: 50%;
  margin: 2px 1% 1% 1%;
  display: inline-block;
}

.tweet footer img {
  color: inherit;
  font-family: inherit;
  background-color: inherit;
  height: 2%;
  width: 2%;
  margin: 2px 1% 1% 1%;
  display: none;
  float: right;
}
