.tweets {
  background-color: #ffffff;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 30px;
  padding-bottom: 5px;
}

.tweets header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px
}

.tweets header div {
  display: flex;
  flex-direction: row;
}

.tweets header div h3{
  margin-top: 5px;
  padding-left: 5px;
}

.tweets header .icon {
  margin-top: 2px;
  border-radius: 5px;
}

.tweets header p {
  margin-top: 0px;
  color: #A9A9A9;
}

.tweets .text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.tweets footer {
  border-top: 1px solid #eee;
  font-size: 0.5em;
  padding-left: 10px;
  padding-top: 5px;

}

.tweets footer p {
  float: left;
}

.tweets footer div {
  color: #3db5a1;
  visibility: hidden;
  margin-right: 10px;
  margin-top: 10px;

  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

article:hover footer div {
  visibility: visible;
}