#tweets {
  /*border-top: 5px;*/
}

#tweets > article {
  position: relative;
  margin: 40px 0 0;
  border-radius: 5px;
  box-shadow: 0 0 2px #aaa;
  opacity: 0.8;
}

#tweets > article:hover {
  box-shadow: 0 0 2px #888;
  opacity: 1;
}

#tweets header {
  height: 100px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eee;
}

#tweets header > img {
  height: 100%;
  width: 80px;
  margin-right: 10px;
  border-radius: 5px;
}

#tweets header > .author {
  display: inline-block;
  width: 145px;
  margin: 0;
  color: rgb(56, 147, 132);
  font-size: 1.5em;
  font-weight: bolder;
  vertical-align: top;
}

#tweets header > .author-handle {
  float: right;
  color: grey;
  line-height: 2;
}

#tweets > article > p {
  padding: 0 1em;
}

#tweets footer {
  padding: 1em;
  border-top: 1px solid #eee;
  font-size: 0.8em;
}

.tweet-actions {
  float: right;
  margin: -2px;
  color: teal;
  font-size: 2em;
}

.tweet-actions > li {
  display: inline-block;
  cursor: pointer;
}